<p id="notice"><%= notice %></p>

<h1>Current Candidates | <%= @candidates.count %></h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Position</th>
      <th>Stage</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Github url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.position ? candidate.position.title : "Unassigned" %></td>
        <td><%= link_to candidate.stage %></td>
        <td><%= link_to candidate.first_name, candidate %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.phone_number %></td>
        <td><%= link_to candidate.github_url, candidate.github_url %></td>
        <td><%= link_to 'Show', candidate %></td>
        <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
        <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Candidate', new_candidate_path %>
