<div class="row">
  <div class="col-sm-6">
    <h3>Current Status <small><%= link_to @candidate.aasm.current_state, "#" %></small></h3>

  </div>
  <div class="col-sm-6">
    <% @candidate.aasm.states(:permitted => true).map(&:name).each do |state| %>
      <%= link_to state, candidate_path(id: @candidate.id, state: state ), class: "btn btn-default" %>
    <% end %>
    <%= link_to "reset", candidate_path(id: @candidate.id, state: "reset" ), class: "btn btn-default" %>

  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-12">
    <p>
      <strong>First name:</strong>
      <%= @candidate.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @candidate.last_name %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= @candidate.phone_number %>
    </p>

    <p>
      <strong>Github url:</strong>
      <%= @candidate.github_url %>
    </p>
    <p>
      <strong>Github url:</strong>
      <%= link_to "Download Resume", @candidate.resume.url %>
    </p>
    <%= link_to 'Edit', edit_candidate_path(@candidate), class: "btn btn-warning" %> 

  </div>
</div>
<br><br>

<%= render "candidates/states/#{@candidate.aasm_state.to_s}" %>

<br><br>
