<div class="row">
  <div class="col-sm-6">
    <h3>Current Status <small><%= link_to @candidate.aasm.current_state, "#" %></small></h3>

  </div>
  <div class="col-sm-6">
    <% @candidate.aasm.states(:permitted => true).map(&:name).each do |status| %>
      <%= link_to status, candidate_path(id: @candidate.id, status: status ), class: "btn btn-default" %>
    <% end %>
    <%= link_to "reset", candidate_path(id: @candidate.id, status: "reset" ), class: "btn btn-default" %>

  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-12">
    <p>
      <strong>First name:</strong>
      <%= @candidate.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @candidate.last_name %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= @candidate.phone_number %>
    </p>

    <p>
      <strong>Github url:</strong>
      <%= @candidate.github_url %>
    </p>
    <p>
      <strong>Github url:</strong>
      <%= link_to "Download Resume", @candidate.resume.url %>
    </p>
  </div>
</div>
<br><br>
<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @candidate.aasm.current_state == :pre_initial_screen %>
    <%= render "form_pre_initial_screen" %>
  <% elsif @candidate.aasm.current_state == :initial_screen %>
    <%= render "form_initial_screen" %>
  <% elsif @candidate.aasm.current_state == :pre_phone_screen %>
    <%= render "form_pre_phone_screen" %>
  <% elsif @candidate.aasm.current_state == :phone_screen %>
    <%= render "form_phone_screen" %>
  <% elsif @candidate.aasm.current_state == :pre_inperson_interview %>
    <%= render "form_pre_inperson_interview" %>
  <% elsif @candidate.aasm.current_state == :inperson_interview %>
    <%= render "form_inperson_interview" %>
  <% elsif @candidate.aasm.current_state == :viable_candidate %>
    <%= render "form_viable_candidate" %>
  <% elsif @candidate.aasm.current_state == :rejected %>
    <%= render "form_rejected" %>
  <% end %>
<% end %>

<br><br>
<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
