<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Point of contact:</strong>
  <%= @project.point_of_contact %>
</p>

<p>
  <strong>Poc email:</strong>
  <%= @project.poc_email %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
