<ul class="nav nav-sidebar">  
  <!-- General -->
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to 'DASHBOARD', '/dashboard' %></li>
    <li><%= link_to 'Stages', '#' %></li>
    <li><%= link_to 'Candidates', candidates_path %></li>
    <li><%= link_to 'Positions', positions_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
  </ul>	
  <!-- Tools -->
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to 'ASSESSMENT', '#' %></li>
    <li><%= link_to 'Test Projects', '#' %></li>
    <li><%= link_to 'Interview Questions', '#' %></li>
    <li><%= link_to 'Reports', '#' %></li>
    <li><%= link_to 'Feedback', '#' %></li>
  </ul>	
  <!-- Settings -->
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to 'SETTINGS', '#' %></li>
    <li><%= link_to 'Tasks', '#' %></li>
    <li><%= link_to 'Comments', '#' %></li>
    <li><%= link_to 'Logout', :logout, method: :post %></li>
  </ul>	
</ul>

