<ul class="nav nav-sidebar">  
  <!-- General -->
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to 'OVERVIEW', '#' %></li>
    <li><%= link_to 'Stages', '/stages' %></li>
    <li><%= link_to 'Candidates', '/candidates' %></li>
    <li><%= link_to 'Positions', '/positions' %></li>
    <li><%= link_to 'Projects', '/projects' %></li>
  </ul>	
  <!-- Tools -->
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to 'ASSESSMENT', '#' %></li>
    <li><%= link_to 'Test Projects', '#' %></li>
    <li><%= link_to 'Interview Questions', '#' %></li>
    <li><%= link_to 'Reports', '#' %></li>
    <li><%= link_to 'Feedback', '#' %></li>
  </ul>	
  <!-- Settings -->
  <ul class="nav nav-sidebar">
    <li class="active"><%= link_to 'SETTINGS', '#' %></li>
    <li><%= link_to 'Profile', '#' %></li>
    <li><%= link_to 'Messages', '#' %></li>
    <li><%= link_to 'Lorem', '#' %></li>
    <li><%= link_to 'Sign out', '#' %></li>
  </ul>	
</ul>

